page-home {
<<<<<<< HEAD

    .card { border-radius : 15px; 
        
        
    }

    .image
    {
        height: 120px;
        width: 120px;
        margin-left: auto;
       margin-right: auto;
    }

    
=======
    .boton_personalizado {
        text-decoration: none;
        padding: 12px;
        font-weight: 600;
        font-size: 20px;
        color: #ffffff;
        background-color: #ffffff;
       // border-radius: 180px;
        border: 3px solid #F16724;
       
      }
      .boton_personalizado:hover {
        color: #1883ba;
        background-color: #ffffff;
      }
>>>>>>> d8f8c5c7c30646511a05ecda06a660917710cd7e
}
